{% load static %}
<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{% static 'scripts/bootstrap-4.3.1/dist/css/bootstrap.min.css' %}" crossorigin="anonymous">
        <script src="{% static 'scripts/bootstrap-4.3.1/dist/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
        <link href="{% static 'scripts/fontawesome-free-5.15.2-web/css/all.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'scripts/lsb-style-file-CSS.css' %}">

        <script src=""></script>

        <style>
            @font-face {
                font-family: "akrobat";
                src: url("{% static 'fonts/akrobat/Akrobat-Regular.otf' %}");
            }

            a {
                font-family: akrobat;
            }

            .header {
                background-image: url("{% static 'images/lsb_header2.jpg' %}");
                background-attachment: fixed;
                background-position: top;
            }

            .footer {
                z-index: 9999;
                color: white;
                min-height: 35px;
                text-align: center;
                background-color:rgb(0, 155, 26);
            }
            
            .card-img-top {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>

    </head>

    <body>

        <div class="header">
            <h1 class='TitleText'> Lone Star Birding </h1>
        </div>

        <div class="scroller">
            <div class="btn-group-vertical">
                <p>Check us out @</p>
                <a class='btn' href="https://www.youtube.com/channel/UCtPvGZQryCuQqBm3Ery3cJA"><i class="fab fa-youtube"></i> youtube</a>
                <a class='btn' href="https://www.instagram.com/lonestarbirding/?hl=en"><i class="fab fa-instagram"></i> instagram</a>
                <a class='btn' href="https://www.facebook.com/Lone-Star-Birding-107457911429976"><i class="fab fa-facebook"></i> facebook</a>
                <a class='btn' href="https://twitter.com/BirdingLone"><i class="fab fa-twitter"></i> twitter</a>
                <p>Support us @</p>
                <a class='btn' href="#"><i class="fab fa-patreon"></i> patreon</a>
                <a class='btn' href="https://www.paypal.com/donate/?business=FAVD22M36KT76&item_name=Donate+to+Lone+Star+Birding&currency_code=USD"><i class="fab fa-paypal"></i> paypal</a>
            </div>
        </div>

        <div class="content">

            <div class="welcome">
                Thank you for visiting Lone Star Birding, we hope you enjoy our live feed and visit our youtube channel to see highlights and other videos of the incredible natural beauty in the Houston area.
            </div>

            <div class="container main">
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/live_stream?channel=UCtPvGZQryCuQqBm3Ery3cJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="container">
                <div class="ourbirds">
                    <h1>Our Birds</h1>
                </div>
                <div class="card-columns birds">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/monkparakeet.jpg"  alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Monk Parakeet</h5>
                        <p class="card-text">Monk Parakeets native to our area</p>
                        <a href="https://en.wikipedia.org/wiki/Monk_parakeet" class="btn btn-primary">wiki info</a>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/bluejay.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Blue Jay</h5>
                        <p class="card-text">Blue Jays eat peanuts</p>
                        <a href="https://en.wikipedia.org/wiki/Blue_jay" class="btn btn-primary">wiki info</a>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/cardinal.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Cardinal</h5>
                        <p class="card-text">Cardinals common to the area but rarely seen at our feeder</p>
                        <a href="https://en.wikipedia.org/wiki/Cardinal_(bird)" class="btn btn-primary">wiki info</a>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/housefinch.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">House Finch</h5>
                        <p class="card-text">House Finch</p>
                        <a href="https://en.wikipedia.org/wiki/House_finch" class="btn btn-primary">wiki info</a>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/images/blackbird.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Black Bird</h5>
                        <p class="card-text">Common Black Bird</p>
                        <a href="https://en.wikipedia.org/wiki/Red-winged_blackbird" class="btn btn-primary">wiki info</a>
                    </div>
                </div>
                
            </div>

        </div>
            
        </div>
            
        <div class="footer">

            Lone Star Birding 2021

        </div>
            
    </body>

</html>
